.btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin: 16px 4px 4px 4px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 64px;
    border: 0;
    border-radius: 4px;
    background-color: black !important;
    color: white;
    padding: 6px 16px;
    transition: .5s !important;
}

.btn:hover {
    background-color: #282828 !important;
}