
<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Pesquisar repositórios</mat-label>
      <input (keyup)="search(getValue($event))" matInput maxlength="256" placeholder="Ex. Asp.Net ou Flutter">
    </mat-form-field>
  </form>
    <mat-list>
      <mat-list-item *ngFor="let repository of repositories">
        <h4 matListItemTitle>{{ repository.name }}</h4>
        <p matListItemLine> {{ repository.description }} </p>
      </mat-list-item>
    </mat-list>
</div>